* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
}

main {
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
}

#crypto {
  font-size: 1.3rem;
  padding-top: 1.2em;
}

.crypto-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
}

.crypto-bottom > p {
  margin: 0.1em;
}
.crypto-name {
  margin-left: 0.5em;
}

#time {
  align-self: center;
  font-size: 6rem;
  margin-top: 0;
}

#weather {
  display: flex;
  flex-direction: column;
}

#weather * {
  margin: 0;
}

.weather-top {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
}

.weather-img {
  width: 70%;
  height: 50%;
  object-fit: cover;
}

.weather-bottom {
  align-self: flex-end;
  font-size: 2rem;
}
